<!DOCTYPE html>

<html lang="pt-br">

<link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redutor de Consumo | Seu eletrodoméstico</title>
    </head>
    
    <body>
        <header id="faixa">
            <a href="/">
                <img src=" {{ url_for('static', filename='img/minilogo.png') }}"alt="">
            </a>
            <h1>
               Reduza seu consumo de energia
            </h1>
        </header>

        <section id="card">
            <h2>
                Dados do seu eletrodoméstico<br>
                Nome: <!-- {{ medtv }} --> <br>
                Consumo: <!-- {{ medge }} --> <br>
            </h2>
            <h3>
                Media de consumo em nosso BD<br>
                Televisão: <!-- {{ medtv }} --> <br>
                Geladeira: <!-- {{ medge }} --> <br>
                Lava Roupas: <!-- {{ medlr }} --> <br>
                Micro-ondas: <!-- {{ medmo }} --> <br>
                Ar Condicionado: <!-- {{ medac }} --> <br>
            </h3>
            <h4>
                Conclusão:<br><br>
                O seu eletrodoméstico está consumindo ... <br><br><br>
            </h4>
        </section>
<!--
        <section id="lista_equipamentos">
            <table>
                <h3>Lista de Equipamentos</h3>

                     <tbody>
                           {% for e in equipamentos %}
                              <tr>
                                    <td>{{e.id}}</td>
                                    <td>{{e.nome}}</td>
                                    <td>{{e.consumo}}</td>
                                    <td>{{e.tempo}}</td>   
                                </tr>
                            {% endfor %}
                     </tbody>
            </table>        
        </section>   -->
    </body>
</html>